.adverment{
	padding-bottom: rem(150);
	@include create-container_vs_row();
	&__part{
		@include classes(col-md-6,col-sm-12);
		&--slider{}
	}
	&__list{
		@include make-row();
		&-item{
			@extend .col;
		&-data{
				border: rem(1) solid rgba(0, 0, 0, 0.15);
				margin-bottom: rem(30);
				display: flex;
				justify-content: center;
				align-items: center;
				height: rem(100);
				min-width: rem(100);
				padding: rem(10) rem(15);
				opacity: .5;
				cursor: pointer;
				@include transition();
				@include hover(){
					opacity: 1;
				}
			}
		}
	}

}