.adverment{
	padding-bottom: rem(150);
	&__container{
		@extend .hero__container;
	}
	&__row{
		@include make-row();
	}
	&__part{
		@extend .col-md-6;
		@extend .col-sm-12;
		&--slider{}
	}
	&__list{
		@include make-row();
		&-item{
			@extend .col;
		&-data{
				// @include size(rem(165), rem(100));
				border: rem(1) solid rgba(0, 0, 0, 0.15);
				margin-bottom: rem(30);
				display: flex;
				justify-content: center;
				align-items: center;
				height: rem(100);
				min-width: rem(100);
				padding: rem(10) rem(15);
				opacity: .5;
				cursor: pointer;
				transition: all .3s ease;
				@include hover(){
					opacity: 1;
				}
			}
		}
	}

}