.article{
	text-align: left;
	&__title{
		@include create-title-style();
	}
	&__subtitle{
		@include font($font2, 800, rem(14)){
			text-transform: uppercase;
		};
		margin-bottom: rem(30);
	}
	&__text{
		@include font($font2, 400, rem(14));
	}
}