.article{
	text-align: left;
	&__title{
		@include font($font1, 700, rem(30)){
			text-transform: uppercase;
		};
		@include greenLine();
		margin-bottom: rem(30);
	}
	&__subtitle{
		@include font($font2, 800, rem(14)){
			text-transform: uppercase;
		};
		margin-bottom: rem(30);
	}
	&__text{
		@include font($font2, 400, rem(14));
	}
}