.benefits{
	padding-top: rem(80);
	margin-bottom: rem(100);
	@include create-container();
	&__title-row{
		@include classes (
			row,
			text-center,
			justify-content-center,
			col-12,
			col-md-8
		);
		margin: 0 auto;
		margin-bottom: rem(80);
	}
	&__title{
		@include create-title-style(){
			@extend .text-center;
		};
	}
	&__subtitle{
		@include create-text-style(){
			@extend .justify-content-center;
		}
	}
	&__list{
		@extend .row;
		padding-top: rem(20);
		&-item{
			@include classes( col-12, col-md-4);
		}
	}
}