.blog{
	padding-top: rem(150);
	padding-bottom: rem(50);
	@include create-container();
	@include create-row(){
		    justify-content: space-between;
	}
	&__left-side{
		@include classes(col-md-8,col-12);
	}
	&__right-side{
		@extend .col-lg-3;
		@include media-breakpoint-down(md){
			display: none;
		}
		justify-content: center;
	}
}