.contacts{
	padding: rem(50) 0;
	background-color: $green1;
	margin-bottom: rem(50);
	@include create-container_vs_row();
	&__part{
		@include classes(col-md-6,col-sm-12);
		margin-bottom: rem(20);
	}
	&__title{
		@include font($font1, 700, rem(30), $white){
			line-height: rem(48);
		}
		margin-bottom: rem(30);
	}
	&__btn{
		@include create-btn-style();
		background-color: $white;
		color: $green1;
	}
}