.contacts{
	padding: rem(50) 0;
	background-color: $green1;
	margin-bottom: rem(50);
	&__container{
		@extend .hero__container;
	}
	&__row{
		@extend .adverment__row;
	}
	&__part{
		@extend .adverment__part;
		margin-bottom: rem(20);
	}
	&__title{
		@include font($font1, 700, rem(30), $white){
			line-height: rem(48);
		}
		margin-bottom: rem(30);
	}
	&__btn{
		@extend .team__footer-btn;
		background-color: $white;
		color: $green1;
	}
}