.social{
	padding-bottom: rem(50);
	@include create-container_vs_row();
	&__list{
		@extend .col-12;
		text-align: right;
		&-item{
			display: inline-block;
			font-size: rem(18);	
			color: $gray02;
			& + &{
				margin-left: rem(13);
			}
	
			@include hover(){
				& i{
					color: $green1;	
				}
			}
		  &-i{
				@include transition();
			}
		}
		&--left{
			text-align: left;
			padding-left: 0;
		}
	}
}