.tags{
	&__btn{
		@include create-btn-style($gray10,$gray02,$commonColor, $font2 ){
			width:auto;
			height: rem(30);
			font-size: rem(12);
			font-weight: 400;
		}
		margin-left: rem(5);
		margin-bottom: rem(5);

	}
}