.team{
	padding-bottom: rem(150);
	@include create-container();
	&__title-row{
		@include classes (
			row,
			text-center,
			justify-content-center,
			col-12,
			col-md-8
		);
		margin: 0 auto;
		margin-bottom: rem(100);
	}
	&__title{
		@include create-title-style(){
			@extend .text-center;
		};
	}
	&__subtitle{
		@include create-text-style(){
			@extend .justify-content-center;
		}
	}
	&__list{
		@extend .row;
		&-item{
			@include classes(col-md-3,col-12);
			@include size(rem(266),rem(333));
			margin-bottom: rem(32);
		}
		&-img{
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center;
			@for $i from 1 to 9{
				&--#{$i}{ background-image: url('../img/ph-'+$i+'.jpg'); }
			}
		}
	}
	&__footer{
		@extend .align-items-center;
		@include make-row();
		background-color: $gray01;
		margin: 0;
		min-height: rem(150);
		&-lwrap{
			@include classes(col-12,col-md-9,text-left);
			padding-left: rem(45);
		}
		&-rwrap{
			@include classes(col-12,col-md-3,text-right);
			padding-right: rem(45);
		}
		&-text{
			@include font($font2,400,rem(18)){
				font-style: italic;
			};
			margin: 0;
		}
		&-btn{
			@include create-btn-style();
		}
	}
}