/*--------------grid---------------*/
$gup: rem(15);
$containerWidth: rem(1170); // site vewprompt


$commonColor: #60606e; // gray
$commonFontSize: rem(14);


$font1: 'Montserrat', sans-serif;
$font2: 'Open Sans', sans-serif;


$green1: #7beec7;
$gray01: #efeff0;
$gray02: #999;
$gray03: #cdcdcd;
$gray04: #9a9a9a;
$gray05: #ccc;
$gray06: #fefcf9;
$gray07: #bfbfbf;
$white: #fff;
$red: #ea6a6a;
 
